<div class="header">
  <ul class="header_ul">
    <a href="/play_grounds">
      <li id="logo">
        <%= image_tag 'logo.png', id:"header_img" %>
      </li>
    </a>
    <a href="#"><li class="header_link"><i class="fas fa-sign-in-alt"></i><br/>login</li></a>
    <a href="#"><li class="header_link"><i class="far fa-comment"></i><br/>comment</li></a>
    <a href="#"><li class="header_link"><i class="fas fa-user-circle"></i><br/>profile</li></a>
  </ul>
</div>